#drawArea{
    border: solid cadetblue 5px;
    background-color: whitesmoke;
    }
    
.scores
{
    position: absolute;
    right: 15%;
    top:15%;
    font-size: larger;
    margin-bottom: 3rem;
}

#score-details{
    position: absolute;
    right: 15%;
    top:18%;
    margin-top: 15px;
}

#table{
    text-align: left;
    min-width: 300px;
    border: black 1px solid;
}

#menu {
    position: absolute;
    z-index: 1;
    margin-top: -512.5px;
    width: 700px; /* Full width */
    height: 510px; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#start, #restart {
    margin: 250px 325px;
}