#drawArea{
    border: solid cadetblue 5px;
    background-color: whitesmoke;
    }
    
.scores
{
    position: absolute;
    right: 15%;
    top:15%;
    font-size: larger;
    margin-bottom: 3rem;
}

#score-details{
    position: absolute;
    right: 15%;
    top:18%;
    margin-top: 15px;
}

#table{
    text-align: left;
    min-width: 300px;
    border: black 1px solid;
}
